<h1>Your Results</h1>
<p>The movie you searched for was <em><%=  "MOVIE TITLE GOES HERE" %></em>.</p>
<p>It came out in <strong><%= "MOVIE YEAR GOES HERE" %></strong>.</p>
<p>According to Spotify, the most popular song in that year was <em><%=@track.name%></em> by <%= @track.artists.tr("[", "").tr("]", "").tr('"',"").html_safe %>. It appeared on the <em><%= @track.album %></em> album. </p>
<p><img src="<%=@track.cover%>"> </p>
